.Loader {
  margin: 0 auto;
  max-width: 6em;
  width: 80%;
  padding: 1em;
  text-align: center; }

.Loader img {
  width: 100%; }

.textCheckbox {
  margin-left: 15pt;
  font-size: 2vh; }

.Question {
  background-color: white; }

.QuestionContent {
  font-size: 2vh; }

.IndexQuestionText {
  font-size: 4vh;
  color: white; }

.IndexQuestionContainer {
  height: 5vh;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: darkblue; }

.modal {
  background-color: red; }

.buttonShareFb {
  height: 32px;
  background-color: #2b542c; }

.BottomButtonResultContainer {
  display: flex;
  flex-direction: column; }

.AppContainer {
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: lightgray; }

.QuestionContentContainer {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh; }

.PlaceholderContainer {
  height: 2vh;
  background-color: transparent; }
