.Loader {
  margin: 0 auto;
  max-width: 6em;
  width: 80%;
  padding: 1em;
  text-align: center;
  img {
    width: 100%;
  }
}
.Checkbox {
  flex-direction: row;
}

.boxCheckbox {
}

.textCheckbox {
  margin-left: 15pt;
}

.Question {
  background-color: whitesmoke; }

.QuestionContent {
 }
.modal {
  background-color: red;
}
.buttonShareFb {
  height: 32px;
  background-color: #2b542c;
}
.BottomButtonResultContainer {
  display: flex;
  flex-direction: column;
}
