.Loader {
  margin: 0 auto;
  max-width: 6em;
  width: 80%;
  padding: 1em;
  text-align: center; }

.Loader img {
  width: 100%; }

.textCheckbox {
  margin-left: 15pt;
  font-size: 2vh; }

.Question {
  background-color: white; }

.QuestionContent {
  font-size: 2vh;
  font-weight: bold; }

.IndexQuestionText {
  font-size: 4vh;
  color: white; }

.IndexQuestionContainer {
  height: 5vh;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: darkblue; }

.modal {
  background-color: red; }

.buttonShareFb {
  height: 6vh;
  width: 50vw;
  font-size: 4vh;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  color: white;
  align-self: center;
  border-radius: 10px; }

.BottomButtonResultContainer {
  display: flex;
  flex-direction: column; }

.AppContainer {
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: whitesmoke;
  padding-bottom: 2vh; }

.QuestionContentContainer {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh; }

.PlaceholderContainer {
  height: 2vh;
  background-color: transparent; }

.CheckboxIcon {
  width: 3vh;
  height: 3vh; }

.CheckboxContainer {
  display: flex;
  flex-direction: row;
  height: 4vh;
  align-items: center; }

.ButtonSubmitContainer {
  background-color: darkblue;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 50vw;
  font-size: 4vh;
  color: white;
  border-radius: 10px;
  align-self: center; }

.TitleResult {
  font-size: 4vh;
  color: orangered;
  font-weight: bold; }

.TitleResult {
  font-size: 3vh;
  color: darkblue;
  font-weight: bold; }

.DescriptionResult {
  font-size: 3vh; }

.TitleNoResult {
  font-size: 4vh;
  color: orangered; }

.HeaderContainer {
  background-color: darkblue;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  color: white;
  margin-bottom: 20px; }
